.fa.fa-github.icon{
    color :black; 
    font-size: 36px; 
    margin-right: 10px;
  }

  .fa.fa-instagram.icon{
    color :black; 
    font-size: 36px; 
    margin-right: 10px;
  }

  .fa.fa-linkedin.icon{
    color :black; 
    font-size: 36px; 
    margin-right: 10px;
  }

  .fa.fa-file{
    color: black; 
    font-size: 18px;
  }